<ngx-charts-line-chart
  [view]="view"
  [results]="single"
  [gradient]="gradient"
  [scheme]="colorScheme"
  [animations]="true"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-line-chart>

<div class="slider">
  <mat-slider
  (valueChange)="sizeChange($event)"
  thumbLabel
  tickInterval="10"
  min="1000"
  max="1250"></mat-slider>
</div>

