<div *ngIf="fGroup">
  <form [formGroup]="fGroup">
    <mat-form-field>
      <mat-label>Unité de l'automate</mat-label>
      <mat-select formControlName="uniteAutomate">
        <mat-option *ngFor="let unite of unites" [value]="unite">
          {{unite}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="fGroup.get('uniteAutomate').value">
      <mat-label>Numéro de l'automate</mat-label>
      <mat-select formControlName="numeroAutomate" (selectionChange)="initLoadData()">
        <mat-option *ngFor="let num of numeros" [value]="num">
          {{num}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="flex fd-c">
    <app-linear-graph *ngIf="data" [legendY]="'Température (degré)'" [nameData]="'Température cuve'" [data]="dataTempCuve"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Température (degré)'" [nameData]="'Température Extérieur'" [data]="dataTempExt"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Poids (kg)'" [nameData]="'Poids du lait en cuve'" [data]="dataPoidsLait"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Mesure (pH)'" [nameData]="'Mesure pH'" [data]="dataMesurePH"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Mesure (mg/L)'" [nameData]="'Mesure K+'" [data]="dataMesureK"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Concnetration (g/L)'" [nameData]="'Concentration de NaCl'" [data]="dataConcentrationNaCl"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Niveau bactérien (ppm)'" [nameData]="'Niveau bactérien salmonelle'" [data]="dataNiveauBacterienSalmonelle"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Niveau bactérien (ppm)'" [nameData]="'Niveau bactérien E-coli'" [data]="dataNiveauBacterienEcoli"></app-linear-graph>
    <app-linear-graph *ngIf="data" [legendY]="'Niveau bactérien (ppm)'" [nameData]="'Niveau bactérien listéria'" [data]="dataNiveauBacterienListeria"></app-linear-graph>
  </div>
</div>
